<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>role0/daguai_yachi_02.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/daguai_yachi_01.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/daguai_koushui.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>57</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/perfact_zuiba.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>125</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/miss_zuiba.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/perfact_yanjing_01.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>115</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>620</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/changtai_01.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>115</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>role0/miss_youyan_01.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>828</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/perfact_yanjing_02.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>115</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>939</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/changtai_02.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>115</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>1055</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/miss_youyan_02.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>1171</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/miss_zuoyan_02.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>1294</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/miss_zuoyan_01.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>1365</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/daguai_shenti_01.png</key>
			<dict>
				<key>width</key>
				<integer>348</integer>
				<key>height</key>
				<integer>348</integer>
				<key>originalWidth</key>
				<integer>359</integer>
				<key>originalHeight</key>
				<integer>359</integer>
				<key>x</key>
				<integer>1448</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>role0/daguai_shenti_02.png</key>
			<dict>
				<key>width</key>
				<integer>359</integer>
				<key>height</key>
				<integer>359</integer>
				<key>originalWidth</key>
				<integer>359</integer>
				<key>originalHeight</key>
				<integer>359</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/daguai_youshou_02.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>role0/daguai_youshou_01.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/daguai_zuoshou_02.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>684</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>role0/daguai_zuoshou_01.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>849</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/daguai_diceng_03.png</key>
			<dict>
				<key>width</key>
				<integer>463</integer>
				<key>height</key>
				<integer>463</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>463</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>role0/daguai_diceng_02.png</key>
			<dict>
				<key>width</key>
				<integer>463</integer>
				<key>height</key>
				<integer>463</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>463</integer>
				<key>x</key>
				<integer>1490</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>role0_daguai0.png</string>
			<key>realTextureFileName</key>
			<string>role0_daguai0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>